.head{
    font-family: 'Courier Prime', monospace;
    font-size: 50px;
}
.orange-color{
    color: darkorange;
}
h1{
    font-family: 'Courier Prime', monospace;
    font-size: 40px;
}
h3{
    font-family: 'Courier Prime', monospace;
    font-size: 30px;
}
.identity{
    font-family: 'Courier Prime', monospace;
    font-size: 36px;
}
.name{
    color: cadetblue;
}
.top-banner{
    display: flex;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.mid-banner{
    display: flex;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.third-section{
    display: flex;
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
}
.fourth-section{
    display: flex;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.fifth-section{
    display: flex;
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
}
.flexible-container{
    display: flex;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
body{
    margin: 0%;
}
.halfWidth{
    width: 50%;
    padding: 5%;
}
.halfWidth1{
    width: 50%;
    padding: 5%;
}
.halfWidth2{
    width: 50%;
    padding: 5%;
}
.halfWidth3{
    width: 50%;
    padding: 5%;
}
.halfWidth4{
    width: 50%;
    padding: 5%;
}
.halfWidth5{
    width: 50%;
    padding: 5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 150px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px yellowgreen;
}
#line-border1{
    border-left: 7px solid;
    border-image: linear-gradient(blue,cyan);
    border-image-slice: 1;
}
#line-border2{
    border-left: 7px solid;
    border-image: linear-gradient(rgb(158, 0, 0),orange);
    border-image-slice: 1;
}
.experience-area{
    padding-bottom: 10%;
}
.halfWidth img{
    width: 100%;
}
.halfWidth1 img{
    width: 100%;
}
.halfWidth2 img{
    width: 100%;
}
.halfWidth3 img{
    width: 100%;
}
.halfWidth4 img{
    width: 100%;
}
p{
    font-family: 'Courier Prime', monospace;
    font-size: 20px;
    text-align: justify;
}
.hire-me-button{
    text-decoration: none;
    color:blanchedalmond;
    background-image: linear-gradient(orange,red);
    padding: 10px 40px;
    font-weight: 700;
    border-radius: 5px;
    font-family: 'Audiowide', cursive;
    margin-top: auto;
}
.wca-button{
    text-decoration: none;
    color:blanchedalmond;
    background-image: linear-gradient(orange,red);
    padding: 10px 30px;
    font-weight: 700;
    border-radius: 5px;
    font-family: 'Audiowide', cursive;
    margin-top: auto;
}
.git-button{
    text-decoration: none;
    color:blanchedalmond;
    background-image: linear-gradient(orange,red);
    padding: 10px 30px;
    font-size: larger;
    font-weight: 700;
    border-radius: 5px;
    font-family: 'Audiowide', cursive;
    margin-top: auto;
}
.cf-button{
    text-decoration: none;
    color:blanchedalmond;
    background-image: linear-gradient(orange,red);
    padding: 10px 30px;
    font-size: larger;
    font-weight: 700;
    border-radius: 5px;
    font-family: 'Audiowide', cursive;
    margin-top: auto;
}
.uri-button{
    text-decoration: none;
    color:blanchedalmond;
    background-image: linear-gradient(orange,red);
    padding: 10px 30px;
    font-size: larger;
    font-weight: 700;
    border-radius: 5px;
    font-family: 'Audiowide', cursive;
    margin-top: auto;
}
.ig-button{
    text-decoration: none;
    color:blanchedalmond;
    background-image: linear-gradient(orange,red);
    padding: 10px 30px;
    font-size: larger;
    font-weight: 700;
    border-radius: 5px;
    font-family: 'Audiowide', cursive;
    margin-top: auto;
}
.footer{
    text-align: center;
}